.outside-card-header {
  padding: $card-spacer-y $card-spacer-x;
  margin: 0;

  h1, h2, h3, h4 {
    margin: 0;

    @include font-size($h2-font-size);
  }

  &:first-child {
    padding-top: ($container-padding-x - $card-spacer-x);
  }
}

.card {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
  background-color: #fff;

  .card-title {
    font-weight: 400;
    margin-bottom: 0;

    @include font-size($h4-font-size);
  }

  .card-subtitle {
    font-weight: normal;
    margin-bottom: 0;

    @include font-size($h5-font-size);
  }

  .card-body.alert {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
    margin-bottom: 0;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .card-header {
    background-color: #212121 !important;
    border-bottom: 4px solid #3874ff;

    .btn.btn-dark {
      background-color: var(--bs-btn-active-bg);
      border-color: var(--bs-btn-active-border-color);

      &:hover {
        background-color: #767b7f;
        border-color: #767b7f;
      }
    }
  }

  .card-header,
  .alert {
    &:first-child {
      border-top-left-radius: var(--bs-card-border-radius);
      border-top-right-radius: var(--bs-card-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--bs-card-border-radius);
      border-bottom-right-radius: var(--bs-card-border-radius);
    }
  }

  & > .table:last-child tbody tr:last-child {
    td:first-child {
      border-bottom-left-radius: var(--bs-card-border-radius);
    }

    td:last-child {
      border-bottom-right-radius: var(--bs-card-border-radius);
    }
  }

  & > .list-group-flush > .list-group-item:last-child {
    border-bottom-left-radius: var(--bs-card-border-radius);
    border-bottom-right-radius: var(--bs-card-border-radius);
  }

  .card-body {
    .card-body-flush {
      margin: (0-$card-spacer-y) (0-$card-spacer-x);
    }

    nav.nav-tabs {
      background: #fff;

      margin: (0-$card-spacer-y) (0-$card-spacer-x) 0 (0-$card-spacer-x);
      padding: $card-spacer-y 1.25rem 0 1.25rem;
      box-shadow: unset !important;
      border-bottom: 1px solid #d0d0d0;

      .nav-link
      {
        border: 0;
        background: transparent;
        color: #757575;
        padding: 1.0625rem .85rem;
        transition-duration: .3s;
        transition-property: background-color, color, opacity;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        font-weight: 500;
        line-height: 1;
        min-height: 3rem;
        text-transform: uppercase;

        &.active {
          color: #2c2c2c;
          border-bottom:3px solid $primary;
        }
      }
    }
    &.buttons {
      background: #f9f9f9;
    }
  }
}

.row-of-cards {
  & .card {
    margin-bottom: 1.5rem !important;
  }
}
