.offcanvas.navdrawer {
  width: $navdrawer-width;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
  background: #ffffff;
}

@include media-breakpoint-up(lg) {
  #page-wrapper.has-sidebar {
    margin-left: $navdrawer-width;
  }

  .offcanvas-backdrop {
    display: none;
  }

  .offcanvas.navdrawer {
    transform: none;
    visibility: visible;
    top: $header-nav-height;
    z-index: auto;
  }
}

// Content
.navdrawer-content {
  width: 100%;
}

// Misc
.navdrawer-body {
  margin-bottom: $navdrawer-inner-spacer-y;
  padding-right: $navdrawer-inner-spacer-x;
  padding-left: $navdrawer-inner-spacer-x;
}

.navdrawer-header {
  display: block;
  border-bottom: 2px solid var(--bs-body-bg);
  padding: $navdrawer-inner-spacer-y $navdrawer-inner-spacer-x;

  background-color: var(--bs-primary-bg);

  .navbar-brand {
    font-size: 1.25rem;

    @include might-overflow();
  }
}

.navdrawer-subheader {
  @include text-truncate;

  display: block;
  height: $navdrawer-subheader-height;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  padding: ($navdrawer-subheader-height * 0.5) $navdrawer-inner-spacer-x;

  color: var(--bs-secondary-color);

  .navdrawer-divider + & {
    margin-top: ($navdrawer-inner-spacer-y * -1);
  }
}

.navdrawer-alert {
  display: block;
  line-height: 1;
  margin: 0;

  a {
    display: block;
    color: inherit;
    padding: $navdrawer-inner-spacer-x;
  }
}

// Nav
.navdrawer-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: $navdrawer-inner-spacer-y;
  margin-bottom: $navdrawer-inner-spacer-y;
  padding-left: 0;

  .navdrawer-header + &,
  .navdrawer-subheader + & {
    margin-top: 0;
  }

  .nav-link {
    @include text-truncate;

    display: inline-flex;
    align-items: center;
    width: 100%;

    font-size: 15px;
    font-weight: 500;

    line-height: 1;
    padding: 1.0625rem 1rem;

    color: rgba(0,0,0,.54);

    & > .navdrawer-nav-icon {
      font-size: 1.6rem;
      margin-right: .75rem;
    }

    &:focus {
      outline: 0;
    }

    &.active,
    &:active {
      background-color: var(--bs-secondary-bg);
      color: #212121;
    }

    &:hover {
      background-color: var(--bs-secondary-bg);
      color: #212121;
    }

    &.disabled {
      background-color: transparent;
      color: var(--bs-nav-link-disabled-color);
    }
  }
}
